<% if commentary.author_name.nil? && !commentary.created_at.nil? %>
  <h5>Anônimo</h5>
<% elsif !commentary.created_at.nil? %>
  <h5><%= commentary.author_name %></h5>
<% end %>
  
<% unless commentary.created_at.nil? %>
  <p>Data: <%= commentary.created_at.strftime('%d/%m/%Y às %H:%M') %></p>
  <p><%= commentary.body %></p>
<% end %>