<p id="notice"><%= notice %></p>

<section class="section">
  <h1 class="title"><%= t('All posts') %></h1>
  <%= render "card" %>
  <div class="control-paginator pt-5">
    <%= paginate @posts %>
  </div>
</section>
