<p>Olá <%= @resource.name %>!</p>

<p>Alguém solicitou um link para mudar a senha no nosso blog. Você pode fazer isso no link abaixo.</p>

<p><%= link_to 'Change my password', edit_password_url(@resource, reset_password_token: @token) %></p>

<p>Se você não solicitou esse email, por favor desconsidere..</p>
<p>A sua senha não irá mudar, até você clicar no link e alterá-la.</p>
